<div class="map-context-menu">

</div>
<div class="map-button-container">
    <button class="map-button btn" (click)="primeDefaultMarker()"><span class="glyphicon glyphicon-map-marker"></span></button>
    <button class="map-button btn" (click)="primeDirectionalMarker()"><span class="glyphicon glyphicon-repeat"></span></button>
    <button class="map-button btn" (click)="centerMap()"><span class="glyphicon glyphicon-screenshot"></span></button>
    <button class="map-button btn" (click)="gotoEvents()">back</button>
</div>
<div id="map"></div>