<div class="login-component-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12">
                <img src="assets/images/logo.svg" class="logo center-block">
                <div class="text-center">
                    <span class="login-title text-center">Flood Front</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="login-container" style="width:100%;">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </span>
                        <input type="text" (keyup.enter)="login()" class="form-control" placeholder="Email" [(ngModel)]="email">
                        <span class="input-group-btn">
                            <button class="btn btn-default" [disabled]="buttonState()" (click)="login()">ENTER</button>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div>Icons made by <a class="link" href="http://www.freepik.com" title="Freepik">Freepik</a> from <a class="link" href="http://www.flaticon.com"
            title="Flaticon">www.flaticon.com</a> is licensed by <a class="link" href="http://creativecommons.org/licenses/by/3.0/"
            title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>