<div>
    <a routerLink="/map">MAP</a> event component
    <div class="event-list-container container">
        <div *ngFor="let event of events" class="thumbnail col-xs-12 col-md-6 col-lg-4">
            <img src="http://placehold.it/350x150">
            <div class="caption">
                <h3>{{ event.name }}</h3>
                <p>{{ event.description }}</p>
                <p>
                    <button class="btn btn-primary" (click)="enterEvent(event.id, event.name, event.bounds)">ENTER</button>
                </p>
            </div>
        </div>
    </div>
    <form enctype="multipart/form-data" action="http://localhost:8080/upload" method="POST">
        <input type="file" name="picture" accept="image/*">
        <input type="submit">
    </form>
    <form class="form-inline">
        <div class="form group"><input class="form-control" type="text" name="name" placeholder="Event name" [(ngModel)]="eventName"></div>
        <div class="form group"><input class="form-control" type="text" name="description" placeholder="Desc." [(ngModel)]="description"></div>
        <div class="form group"><input class="form-control" type="text" name="minLat" placeholder="Min lat" [(ngModel)]="minLat"></div>
        <div class="form group"><input class="form-control" type="text" name="minLon" placeholder="Min lon" [(ngModel)]="minLon"></div>
        <div class="form group"><input class="form-control" type="text" name="maxLat" placeholder="Max lat" [(ngModel)]="maxLat"></div>
        <div class="form group"><input class="form-control" type="text" name="maxLon" placeholder="Max lon" [(ngModel)]="maxLon"></div>
        <button class="btn btn-default" (click)="createEvent()" [disabled]="createEventButtonState()">CREATE EVENT</button>
    </form>
    <a href="http://localhost:8080/download" download>Download link</a>
</div>